.titulo{
    text-align: right;
    padding: 30px 0px 0px 0px;
}
#logo-tienda{
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/donut-shop-logo-design-template-a84b57f90b4605813ff9e89d932e235b_screen.jpg?ts=1570474593);
    height: 500px;
    width: 1346px;
    padding: 10px 10px 0px 0px;

}
body {
    margin: 0px;
    padding: 60px 0px 0px 0px;
}
 
#page {
    margin: 0px auto;
    width: 100%;
}
 
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 15px 20px;
    background-color: #333;
    font-size: 20px;
    color: #FFFFFF;

}
 
.titulo-seccion{
    text-align: center;
    font-size: 35px;
}

.parrafo-seccion{
    text-align: center;
}
#lista-productos{
    text-align: center;
}
#header a:link{
color: white;
}
#header a:visited{
    color: white;
}
.productos{
padding: 0px 0px 0px 100px;
}
.portada{
    padding: 0px 0px 0px 100px;
}

#tabla1{
    background-color: rgb(218, 81, 104);
}
.titulo-tabla{
    color: white;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}
.parrafo-tabla{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}